<template>
  <content-card title="About f-example">
    <p class="mb-4">This is a solution example coded 'F' for now.</p>
    <p class="mb-4">The project repository is available <a href="https://bitbucket.org/cobanja1/f-example/src" target="_blank" class="text-blue-500 hover:underline">here</a>.</p>
    <p>For any questions, please contact the repo owner.</p>
  </content-card>
</template>
<script>
import { defineComponent } from 'vue'
import ContentCard from './../blocks/ContentCard'

export default defineComponent({
  components: {
    ContentCard
  }
})
</script>
