<template>
  <div>
    <div v-for="l in HomeLinks" :key="l.path" class="m-4 flex w-full text-center">
      <f-link :to="l.path" :label="l.label" :title="l.title" />
    </div>
  </div>
</template>
<script>
import { defineComponent } from 'vue'
import FLink from '../elements/Link'

import HomeLinks from './../../arrays/HomeLinks'

export default defineComponent({
  components: { FLink },
  setup () {
    return {
      HomeLinks
    }
  }
})
</script>

