<template>
  <content-card title="Case #1: Check remaining value">
    <div class="relative">
      <input
        v-model="qty"
        type="number"
        :placeholder="placeholderLabel"
        class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200"
        min="0"
        max="1000"
        @keyup.enter.prevent.stop="checkQty"
      />
      <btn label="Check quantity" @click="checkQty" />
      <div :class="labelClasses">
        {{moneyLabel}}
      </div>
    </div>
  </content-card>
</template>
<script>
import { defineComponent, ref, computed } from 'vue'
import ContentCard from '../blocks/ContentCard'
import Btn from '../elements/Button'

const limit = 1000 // Synced to backend
const placeholderLabel = 'Quantity (0 - ' + limit + ')'

export default defineComponent({
  components: {
    ContentCard,
    Btn
  },
  setup () {
    const qty = ref('')
    const moneyLabel = ref('Provide the quantity to proceed...')
    const loading = ref(false)
    const error = ref(false)
    const requestCounter = ref(0)

    return {
      qty,
      moneyLabel,
      placeholderLabel,

      labelClasses: computed(() => {
        let classes = 'text-center mt-8 mb-4 text-xl'

        if (!requestCounter.value)
          classes += ' text-gray-300'
        else if (error.value)
          classes += ' text-red-500'
        else if (loading.value)
          classes += ' text-gray-100'

        return classes
      }),

      checkQty: () => {
        if (loading.value)
          return

        loading.value = true
        moneyLabel.value = 'Loading...'
        error.value = false
        requestCounter.value++

        fetch('/api/inventory/check-remaining-qty-on-hand', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json, text-plain, */*',
            'X-Requested-With': 'XMLHttpRequest'
          },
          body: JSON.stringify({ qty: qty.value }),
        })
          .then((response) => {
            return response.json()
          }).then((data) => {
            if (data.status !== true) {
              moneyLabel.value = data.text
              error.value = true
            } else {
              moneyLabel.value = '$' + (Math.round(parseFloat(data.text) * 100) / 100).toFixed(2)
            }

            loading.value = false
          })
        .catch(() => {
          moneyLabel.value = 'No connection...'
          loading.value = false
        })
      }
    }
  }
})
</script>
