<template>
  <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white w-full">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{title}}</div>
      <p class="text-gray-700 text-base">
        <slot />
      </p>
    </div>
  </div>
</template>
<script>
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    title: {
      type: String,
      required: true
    }
  }
})
</script>

