<template>
  <router-link
    :to="to"
    class="w-full px-6 py-3 mt-3 text-lg text-white transition-all duration-150 ease-linear rounded-lg shadow outline-none bg-pink-500 hover:bg-pink-600 hover:shadow-lg focus:outline-none"
  >{{label}}</router-link>
</template>
<script>
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    label: String,
    to: String
  }
})
</script>
