<template>
  <header class="flex flex-col">
    <nav class="flex items-center flex-wrap bg-gray-800 p-4 w-full z-10 top-0">
      <div class="flex items-center flex-shrink-0 text-white mr-4">
        <router-link class="text-white no-underline hover:text-white hover:no-underline" to="/">
          <span class="text-2xl pl-2"><i class="em em-grinning"></i> F-Example</span>
        </router-link>
      </div>
      <div class="flex-grow flex items-center w-auto block pt-4 sm:pt-0" id="nav-content">
        <ul class="list-reset flex justify-center sm:justify-end flex-1 items-center">
          <li v-for="l in NavLinks" :key="l.path" class="mr-3">
            <router-link :class="linkClasses(l)" :to="l.path" :title="l.title">{{l.label}}</router-link>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container w-full h-full flex-1 flex items-center justify-center md:max-w-3xl mx-auto p-4 min-w-500">
    <router-view />
  </main>
</template>
<script>
import { defineComponent } from 'vue'
import NavLinks from './../arrays/NavLinks'
import { useRoute } from 'vue-router'
import { navLinkClasses } from './../functions/nav'

export default defineComponent({
  setup () {
    const route = useRoute()

    return {
      NavLinks,

      linkClasses: (l) => navLinkClasses(l, route)
    }
  }
})
</script>

